@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', sans-serif;
    @apply antialiased text-primaryLight bg-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Playfair Display', serif;
    @apply tracking-wide text-primary;
  }
}

@layer components {

  /* Add custom component classes here if needed */
  .btn-primary {
    @apply bg-accent hover:bg-accentDark text-white font-medium py-3 px-8 rounded-full shadow-lg hover:shadow-xl transition-all duration-300 transform hover:-translate-y-1;
  }

  .btn-secondary {
    @apply bg-transparent border-2 border-white hover:bg-white hover:text-primary text-white font-medium py-3 px-8 rounded-full shadow-md hover:shadow-lg transition-all duration-300 transform hover:-translate-y-1;
  }

  .btn-outline {
    @apply bg-transparent border-2 border-primary hover:bg-primary hover:text-white text-primary font-medium py-3 px-8 rounded-full transition-all duration-300;
  }
}